[submodule "makestuff"]
	path = makestuff
	url = https://github.com/dushoff/makestuff.git
[submodule "1M"]
	path = 1M
	url = https://github.com/Bio1M/1M.git
[submodule "academic"]
	path = academic
	url = https://github.com/dushoff/academic.git
[submodule "research"]
	path = research
	url = https://github.com/dushoff/research.git
[submodule "3SS"]
	path = 3SS
	url = https://github.com/Bio3SS/3SS.git
